/* Import Handjet font */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

/* Reset default styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Handjet', sans-serif;
}

:root {
    /* Color variables */
    --text-color-primary: #1E1E1E;
    --text-color-secondary: #8C8A7B;
    --text-color-accent: #C0BFB3;
    --text-color-light: #E1E1E1;
    --text-color-link: #6D8F5D;
    --background-color-dark: #2A2A2A;
    --background-color-light: #FFFFFF;
    /* Font variables */
    --heading-1: 2rem 800;
    --heading-2: 1.4rem 800;
    --subheading-1: 1.4rem 600;
    --subheading-2: 1.2rem 600;
    --body: 1rem 700;
    --caption: 1rem 800;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.nav-item {
    font: var(--body);
    color: var(--text-color-link);
    text-decoration: none;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 70px 0 60px;
    max-width: 100%;
    background-color: yellow;
}

.app-icon-with-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.app-icon-with-name img {
    width: 70px;
    height: 70px;
    display: block;
}

.app-icon-with-name p {
    font: var(--caption);
    color: var(--text-color-primary);
}

.hero-header {
    text-align: center;
}

.hero-header span {
    font: var(--heading-1);
    color: var(--text-color-accent);
}

.apple-download-button img {
    width: 170px;
}