/* Import Handjet font */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

/* Reset default styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color variables */
    --text-color-primary: #1E1E1E;
    --text-color-secondary: #8C8A7B;
    --text-color-accent: #C0BFB3;
    --text-color-light: #E4E4E4;
    --text-color-link: #6D8F5D;
    --background-color-dark: #2A2A2A;
    --background-color-light: #FFF;
    /* Font variables */

}