/* Import Handjet font */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

/* Reset default styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}